.contact-info {
  background-color: #333;
  &__content {
    display: flex;

    @include mq(sm) {
      display: block;
    }
  }

  &__box {
    color: #fff;
    flex: 1 0 33.3%;
    text-align: center;
    padding: 50px;

    @include mq(sm) {
      padding: 35px 50px;
    }
  }

  &__icon {
    font-size: 40px;
  }

  &__title {
    margin-top: 10px;

    &--phone {
      margin-top: 12px;
    }
  }

  &__link {
    color: #fff;
  }
}
