- var path = "../";
header.header#js-header
  .wrap
    nav.header__nav
      h1
        a(href=`${path}`).header__logo ABC
      ul.header__list
        li.header__listItem
          a(href=`${path}`).header__listItemLink Home
        li.header__listItem
          a(href=`${path}about`).header__listItemLink About
        li.header__listItem
          a(href=`${path}contact`).header__listItemLink Contact

