.g-button {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: #333;
    background-color: #f7c08a;
  }

  &--mt10 {
    margin-top: 10px;
  }

  &--mt20 {
    margin-top: 20px;
  }

  &--mt30 {
    margin-top: 30px;
  }

  &--light {
    background-color: #f4f4f4;
    color: #333;
  }

  &--center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
