.top-mainImg {
  background-image: url(../img/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 600px;
  position: relative;

  &__content {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  &__title {
    font-size: 60px;
    line-height: 1.2em;
  }

  &__text {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.7em;
  }
}
