body {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #333;
  line-height: 1.7em;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.wrap {
  max-width: 1100px;
  padding: 0 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include mq(sm) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.wow {
  visibility: hidden;
}

@include mq(sm) {
  .pc-only {
    display: none;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.u-textPrimary {
  color: #f7c08a;
}
